body {
    margin: 1rem;
    padding: 2rem;
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #13d6e6;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0.5rem;
    padding: 1rem;
}

nav li {
    float: right;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    padding: 20px;
}
