body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin: 0;
  }

  
  #home-container {
    width: 70%;
    height: 50%;
    background-color: #f8f9fa; /* Set your desired background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #date-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  #date,
  .b-radius {
    border-radius: 5px;
    font-weight: 600;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .radio-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .btn-success {
    font-weight: 600;
    background-color: rgb(7, 237, 41);
    width: 100%;
    margin: 20px 0;
  }

  .b-radius{
    font-weight: 500;
    background-color: aqua;
    width: auto;
    
  }

  .b-select{
    background-color: hotpink;
    font-weight: 300;
  }

  .card text-center mb-1{
    border-width: 2px;
    border-color: aqua;
  }
  