body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
}

input[type="date"] {
    padding: 8px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

#attendance-list {
    margin-top: 20px;
    margin-left: 20px;

}

.student {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tick {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.button-container {
    position: relative;
    text-align: right;
}

#mark-attendance {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#report {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

